body, html
{ 
	font-family: 'Open Sans', sans-serif;; 
	font-size: 16px; 
	margin: 0px;
}

#container {
	position: relative;
    height: 100%;
    padding-bottom: 140px;
}

#footer {
	position: absolute;
	bottom: 0px;
	height: 26px;
	width: 100%;
	left: 0px;
	background-color: #eed;
	font-size: 13px; 
	font-weight: bold;
	color: #444;
}

#footerTable td {
	text-align: center;
	padding-bottom: 0px;
	padding-top: 4px;
	padding-left: 20px;
}

#headerPadding {
	position: relative;
	height: 150px;
}

#header {
	position: relative;
 	width: 100%; 	
}

#headerLeft {
	float: left;
 	width: 40%;
 	background-image: url(../img/cxraydualline.jpg);
}

#headerCenter {
	position: absolute;
	left: 0; 
	right: 0;
	margin: auto;
 	width: 800px;
 	overflow: hidden;
 	padding: 0px;
}

#headerRight {
	float: right;
 	width: 40%;
 	background-image: url(../img/cxraydualline.jpg);
}

#searchBox {
	position: relative;
	clear: both;
	margin: auto;
	padding-top: 50px;
 	width: 800px;
 	padding-bottom: 50px;
 	text-align: center;
}

#searchResult {
	padding-top: 20px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#resultTable {
	width: 100%;
    font-size: 14px;
}

#resultTable tr:nth-child(even) {
	background-color: #ddd;
}

#resultTable tr:hover td {
	background: #3af;
}

#companyDetailsTable {
	width: 50%;
}

#newsDetailsTable {
	width: 100%;
}

#jobsDetailsTable {
	width: 100%;
}

#linkedInDetailsTable {
	width: 50%;
}

#ratingDetailsTable {
	width: 30%;
}

#locationDetails {
	height: 450px;
}

#financeDetails {
	height: 260px;	
}

#barDiv {
	height: 250px;	
}

#resultTop {
	background-image: url(../img/resulttop.jpg);
	height: 41px;
	width: 800px;
	margin: auto;
}

#resultTopText {
	font-size: 15px;
	font-weight: bold;
	color:#3af;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 35px;
}

#resultTopText table {
	width: 100%;
}

#resultMiddle {
	background-image: url(../img/resultmiddle.jpg);
	height: auto;
	width: 800px;
	margin: auto;
}

#resultBottom {
	background-image: url(../img/resultbottom.jpg);
	height: 43px;
	width: 800px;
	margin-left: auto;	
	margin-right: auto;
	margin-bottom: 20px;	
	text-align: right;	
}

#resultBottomText {
	padding-top: 9px;
	padding-right: 35px;
}

#resultContainer {
	height: 100%;
	margin-top: 0px;
	width: 777px;
	margin: auto;
	overflow-y: auto;
	padding-left: 5px;
}

legend {
	color: #fff;
	background-color: #ccc;	
	margin-top: -13px;
	margin-left: 10px;
	padding-left: 3px;
	padding-right: 3px;
}

.rounded {
	border-radius: 3px;
	padding-left: 5px;
	outline: 0px;
}

.resultDiv {
	border-radius: 3px;
	padding-left: 5px;
	outline: 0px;
	border: 1px solid #ccc;
	width: 98%;
	font-size: 14px;
	margin-top: 15px;
	padding: 5px;
	
}

.alignLeft {
	text-align: left;
}

.alignRight {
	text-align: right;
}

